.menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }
}

.menu-mode-horizontal {
  flex-direction: row;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;

  > .menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }

  > .menu-item.is-active,
  > .menu-item:hover {
    border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
  }

  // menu-item 其子节点中具有类名为 .submenu 的子节点，并且该子节点具有类名为 .menu-item 和 .is-active 的元素
  .menu-item:has(> .submenu > .menu-item.is-active) {
    border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
  }
}
.menu-mode-vertical {
  flex-direction: column;
  margin: 10px 20px;
  border-right: $menu-border-width solid $menu-border-color;
  & > .menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}

.submenu-item {
  position: relative;

  .submenu-title {
    display: flex;
    align-items: center;
  }

  .arrow-icon {
    transition: transform 0.25s ease-in-out;
    margin-left: 3px;
  }

  &:hover {
    .arrow-icon {
      transform: rotate(180deg);
    }
  }
}

.is-vertical {
  .arrow-icon {
    transform: rotate(0deg) !important;
  }
}

.is-vertical .submenu-open {
  .arrow-icon {
    transform: rotate(180deg) !important;
  }
}

.submenu {
  display: none; // 使用CSSTransition.unmountOnExit 属性后
  list-style: none;
  padding-left: 0;
  white-space: nowrap;

  //transition: $menu-transition;
  .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    color: $body-color;

    &.is-active,
    &:hover {
      color: $menu-item-active-color !important;
    }
  }
}

.submenu.submenu-open {
  display: block; // 使用CSSTransition.unmountOnExit 属性后
}

.menu-mode-horizontal {
  .submenu {
    position: absolute;
    min-width: 100%;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}
